<h1>Cliente</h1>

<ul class="ul-show">
    <li>Nome: <b><%= @cliente.nome %></b></li>
    <li>Telefone: <b><%= @cliente.telefone %></b></li>
    <li>
        Última atualização:
        <b>
            <%= @cliente.updated_at.strftime("%d/%m/%Y") %>
        </b>
    </li>
    <li class="ul-form-btn">
        <%= link_to 'Editar', edit_cliente_path(@cliente) %> |
        <%= link_to 'Voltar', clientes_path %>
    </li>
</ul>
