<h1>Relatório</h1>

<p>Data: <%= Time.now.strftime("%d/%m/%Y") %></p>
<p>Quantidade: <%= @comissaos.size %></p>
<p>soma: <%= @comissaos.length + 1 %></p>
<br>


<table class="clist">
    <thead>
        <tr>
            <th width="70">Apolice</th>
            <th>Cliente</th>
            <th>Seguradora</th>
            <th>Produtor</th>
            <th width="70">N° Parcela</th>
        </tr>
    </thead>
    <tbody>
        <% for comissao in @comissaos %>
            <tr>
                <td><%=h comissao.apolice %></td>
                <td><%=h comissao.venda.cliente.nome %></td>
                <td><%=h comissao.venda.seguradora.nome %></td>
                <td><%=h comissao.venda.user.name %></td>
                <td><%=h comissao.parcela %></td>
            </tr>
        <% end %>
    </tbody>
</table>